@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
}

html {
    font-family: 'Poppins',
        sans-serif;
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display  : block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font   : inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.app {
    background-color: #f3fff9;
    padding-top     : 34px;
    overflow-x      : hidden;
}

.menu {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin         : 0 0 45px;
}

.menu-left {
    font-weight: 700;
    font-size  : 3.6rem;
    line-height: 40px;

    color: #068C52;
}

.menu-center,
.menu-right {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.menu-center--link {
    margin-right: 52px;
    font-weight : 500;
    font-size   : 1.8rem;
    line-height : 27px;
    color       : #000000;
}

.menu-center--link.active {
    color: #068C52;
}

.menu-right--link {
    margin-right         : 10px;
    display              : flex;
    justify-content      : center;
    align-items          : center;
    width                : 30px;
    height               : 30px;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    background-color     : #068C52;
}

.menu-right--link i {
    color    : #fff;
    font-size: 2rem;
}

.menu-right--link.active {
    position: relative;
}

.menu-right--circle {
    position             : absolute;
    top                  : -2px;
    right                : -8px;
    width                : 15px;
    height               : 15px;
    background           : #FFA500;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
}

.banner {
    background-color     : #068C52;
    border-radius        : 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
    padding              : 32px;
}

.banner-info {
    display           : flex;
    justify-content   : center;
    /* align-items    : center; */
    flex-direction    : column;
    height            : 100%;
}

.banner-title {
    font-weight: 700;
    font-size  : 6.4rem;
    line-height: 72px;

    color: #FFFFFF;
}

.banner-des {
    font-weight: 400;
    font-size  : 2rem;
    line-height: 22px;
    display    : block;
    color      : #EFEFEF;
    margin     : 14px 0 24px;
}

.banner-btn {
    font-weight          : 500;
    font-size            : 2.2rem;
    line-height          : 33px;
    padding              : 14px 64px;
    /*Primary/White*/
    color                : #FFFFFF;
    background           : #00F076;
    border-radius        : 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius   : 32px;
    -ms-border-radius    : 32px;
    -o-border-radius     : 32px;
    width                : fit-content;
}

.statistical {
    max-width    : 1134px;
    margin       : 94px auto;
    /* border    : 1px solid; */
    background   : #FFFFFF;
    /* Drop Shadow/High */
    padding      : 40px 0;
    box-shadow   : 0px 20px 50px rgba(18, 17, 39, 0.08);
    border-radius: 12px;
    text-align   : center;
}

.statistical-item--title {
    font-weight: 700;
    font-size  : 4rem;
    line-height: 140%;
    /* identical to box height, or 56px */

    text-align: center;

    color: #068C52;
}

.statistical-item--des {
    font-weight: 600;
    font-size  : 1.4rem;
    line-height: 180%;
    color      : rgba(18, 17, 39, 0.56);
}

.product {
    background-color: #c9ffbf;
    padding         : 76px 0 46px;
}

.product-top {
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.product-heading {
    font-weight: 700;
    font-size  : 3.6rem;
    line-height: 40px;

    color: #000000;
}

.tab-list {
    margin-top: -16px;

}

.tab-item {
    margin-top        : 16px;
    padding           : 10px 0;
    text-align        : center;
    width             : 100%;
    border            : 1px solid #068C52;
    border-radius     : 40px;
    display           : inline-block;
    margin-right      : 10px;
    cursor            : pointer;
    transition        : .25s ease-in;
    -webkit-transition: .25s ease-in;
    -moz-transition   : .25s ease-in;
    -ms-transition    : .25s ease-in;
    -o-transition     : .25s ease-in;
    font-weight       : 500;
    font-size         : 1.2rem;
    line-height       : 21px;
    /* identical to box height, or 167% */


    color: #068C52;
}

.tab-item.active {
    background: #068C52;
    cursor    : default;
    color     : #fff;
}

.tab-item:hover {
    background: #068c5290;
    color     : rgb(242, 239, 239);
}

.product-list {
    margin: 24px 0 64px;
}

.product-item {
    background     : #FFFFFF;
    box-shadow     : 0px 20px 50px rgba(18, 17, 39, 0.08);
    border-radius  : 10px;
    min-height     : 368px;
    padding        : 12px;
    display        : flex;
    justify-content: space-between;

    flex-direction: column;
    position      : relative;
    margin-top    : 50px;
}

.product-item--img {
    position: absolute;
    top     : -86px;
    right   : -105px;
}

.product-item--rating {
    display           : flex;
    /* justify-content: center; */
    align-items       : center;
}

.product-item--rating i {
    width                : 40px;
    height               : 40px;
    font-size            : 1.4rem;
    border-radius        : 50%;
    color                : #068C52;
    background-color     : #E0FFDB;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    display              : flex;
    justify-content      : center;
    align-items          : center;
}

.product-item--rating span {
    margin-left: 6px;
    font-weight: 600;
    font-size  : 1.6rem;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}

.product-item--name {
    font-weight: 500;
    font-size  : 2rem;
    line-height: 30px;
    /* identical to box height */

    font-feature-settings: 'liga'off;

    color        : #000000;
    margin-bottom: 12px;
}

.product-item--price {
    font-weight: 600;
    font-size  : 3rem;
    line-height: 45px;
    /* identical to box height */

    font-feature-settings: 'liga'off;

    color: #000000;
}

.product-item--footer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : auto;
    z-index        : 3;
}

.product-item--btn {
    font-weight: 500;
    font-size  : 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    cursor     : pointer;

    color        : #068C52;
    padding      : 12px 20px;
    background   : #FFFFFF;
    border       : 1px solid #068C52;
    border-radius: 100px;
}

.product-menu {
    font-weight: 600;
    font-size  : 2.2rem;
    line-height: 34px;
    color      : #FFFFFF;
}